<div class="card fi d1" id="cursos">
  <div class="inav">
    <a href="#sobre">Sobre Nosotros</a>
    <a href="#cursos" class="cur">Cursos</a>
    <a href="#tramites">Trámites</a>
    <a href="#contacto">Contacto</a>
  </div>
  <div class="list-body">
    <div class="list-item" (click)="requestModal('m-cpl')">
      <span class="list-name">Conversión CPL</span>
      <span class="list-arrow">→</span>
    </div>
    <div class="list-item" (click)="requestModal('m-ppl')">
      <span class="list-name">Conversión PPL</span>
      <span class="list-arrow">→</span>
    </div>
    <div class="list-item" (click)="requestModal('m-uprt')">
      <span class="list-name">UPRT Advance</span>
      <span class="list-arrow">→</span>
    </div>
    <div class="list-item" (click)="requestModal('m-mcc')">
      <span class="list-name">MCC APS</span>
      <span class="list-arrow">→</span>
    </div>
    <div class="list-item" (click)="requestModal('m-me')">
      <span class="list-name">Multi-Engine</span>
      <span class="list-arrow">→</span>
    </div>
    <div class="list-item" (click)="requestModal('m-ir')">
      <span class="list-name">Instrument Rating</span>
      <span class="list-arrow">→</span>
    </div>
  </div>
</div>
