<div class="card fi d1" id="tramites">
  <div class="inav">
    <a href="#sobre">Sobre Nosotros</a>
    <a href="#cursos">Cursos</a>
    <a href="#tramites" class="cur">Trámites</a>
    <a href="#contacto">Contacto</a>
  </div>
  <div class="list-body">
    <div class="list-item" (click)="requestModal('m-visa')">
      <span class="list-name">Visa de Estudio</span>
      <span class="list-arrow">→</span>
    </div>
    <div class="list-item" (click)="requestModal('m-lic')">
      <span class="list-name">Tramitación de Licencia</span>
      <span class="list-arrow">→</span>
    </div>
  </div>
</div>
